@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-color: #8c7a8c;
    font-family: 'Courier New', Courier, monospace;
}

footer{
    color: 	#333333;
    padding: 5px;
    height:30px;
    font-size: 15px;
    background-color: 	#D3D3D3;
}

.box{
    width:400px;
}

.prueba{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.toDo{
    border-radius: 5px 5px 0px 0px;
}

.deleteBtn{
    border-radius: 0px 0px 5px 5px;
}

li {
	background: #fff;
	padding-left: 10px;
	line-height: 2em;
	margin: 0;
	color: #666;
}

li:nth-child(2n) {
	background: #f7f7f7;
}


input:focus{
        background: white;
        border: 2px solid #f3c4ff;
        outline: none;
        transition: 0.1s;
}

span {
	height: 35px;
	width: 0;
	margin-right: 10px;
	margin-left: -10px;
	text-align: center;
	color: 	#333333;
	opacity: 0;
	transition: 0.2s linear;
    float: right;
}

li:hover span {
	opacity: 1;
	width: 40px;
    float:right;
}